.topContainer
{
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  background-color: blanchedalmond;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.topMiddle
{
    
    position: absolute;
    height: 30px; 
    font-size: 50px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: red;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
  
.topLeft,.topRight
{
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Verdana;
    font-style: oblique;
    color:red;

}


@media only screen and (max-width: 1040px) {

  .topMiddle
{
    
    position: absolute;
    height: 20px; 
    font-size: 30px;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: red;
    margin-top: 20px;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}


}


@media only screen and (max-width: 672px) {

    .topMiddle
  {   
      font-size: 25px;
      font-weight: 600;
      color: red;
      margin-top: 30px;
     
  }
  
  
  }

  @media only screen and (max-width: 565px) {

    .topMiddle
  {   
      font-size: 20px;
      font-weight: 600;
      color: red;
      margin-top: 40px;
     
  }
  
  
  }





   